<div class="container">
			<div class="text-center">
				<h1>ABM</h1>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 text-center" style="margin: 0 auto;">
					
					<form action="/save" method="post">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Nombre" name="nombre">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Email" name="email">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Nacionalidad" name="pais">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Universidad" name="uni">
						</div>
						<input type="submit" class="btn">
					</form>
				</div>
			</div>
		</div>