.header {
	background: white;
	line-height: 50px;
	padding-bottom: 0.3em;
}
.header figure {
	margin-bottom: 0;
	padding-top: 0.2em;
}
.header figure img {
	display: block;
}
.header ul {
	margin-bottom: 0;
}
.header ul li {
	display: inline-block;
}
.header ul li .btn {
	width: 126px;
}
.header ul li a {
	text-decoration: none;
	color: white;
}

.main .primary {
	padding-top: 4em;
	padding-bottom: 4em;
}
.main .secondary h4 {
	padding: .5em 0;
	margin: 0;
}
.main .secondary  img {
	display: block;
	border-radius: 50%;
	margin: 0 auto;
	border: 5px solid white;
}
.main .secondary .usernew {
	margin: 0 auto;
}

.main .secondary .card {
	margin: 0 auto;
	float: none;
}
.main .primary h2 {
	font-size: 3.5em;
	color: white;
	font-weight: 700;
}
.main .primary .description{
	margin: 0 auto;
	float: none;
	color: white;
}

.main .secondary {
	position: relative;
}

.home__Ads {
	margin: 1em auto;
}

.home__Login {
	padding: 1em;
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left: -20%;
}
.header h2 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	color: #fb645a;
	text-shadow: 0 2px 0 #fb8146;
	position: relative;
}


.img {
	display: block;
	margin: 0 auto;
}

.btn-facebook {
	padding: 0.5em 1.5em;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: space-between;
	width: 58%;
	margin: 0 auto;
}
.btn-facebook i {
	font-size: 25px;
	display: block;
}

.btn-facebook:hover {
	background: #fb645a;
	border-color: #fb645a;
}
.btn-facebook:focus, .btn-facebook:active {
	outline: none;
	box-shadow: none;
	color: white;
} 


.progressCirculardemoBasicUsage body {
  padding: 20px; }

.progressCirculardemoBasicUsage h4 {
  margin: 10px 0; }

.progressCirculardemoBasicUsage md-progress-circular {
  margin-bottom: 20px; }

.progressCirculardemoBasicUsage #loaders > md-switch {
  margin: 0;
  margin-left: 10px;
  margin-top: -10px; }

.progressCirculardemoBasicUsage #loaders > h5 {
  margin-top: 0; }

.progressCirculardemoBasicUsage #loaders > p {
  margin-right: 20px;
  margin-bottom: 24px; }

.progressCirculardemoBasicUsage p.small {
  font-size: 0.8em;
  margin-top: -18px; }

.progressCirculardemoBasicUsage hr {
  width: 100%;
  margin-top: 20px;
  border-color: rgba(221, 221, 177, 0.1); }

.progressCirculardemoBasicUsage p.small > code {
  font-size: 0.8em; }

.progressCirculardemoBasicUsage .visible {
  border-color: rgba(221, 221, 177, 0); }

 .loadingHome {
 	position: absolute;
 	left: 50%;
 	margin-left: -4%;
 	top: 270px;
 }